<div id="desktop">
    <div id="windows">
    </div>
    <div id="base-desktop">
        <ul id="desktop-icons" class="icons medium flatos-files-list"></ul>
        <div id="background"></div>
        <div id="taskbar">
            <div id="startmenu" class="taskicon tooltip" title="Start Menu">
                <span class="startbutton"></span>
            </div>
            <div class="taskbar-icons">
                <div id="pinnedapps"></div>
            </div>
        </div>
        <div id="clock" class="show"></div>
    </div>
</div>